/*
Theme Name: Lifeline-Child
Author: Webinane
Version: 4.8.2
Author URI: http://themeforest.net/user/webinane
Theme URI: http://themeforest.net/user/webinane
Description: Lifeline is a blog theme with immense opportunities to make a blog By - <a href="http://webinane.com/">Webinane</a>
License:GNU General Public License v2 or later
License URI:http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, fluid-layout, fixed-layout, custom-header, custom-menu, editor-style, featured-images, rtl-language-support, sticky-post, translation-ready
Text Domain: wp_blog
Template: lifeline
*/

@import: url('../lifeline/style.css');

.vc_gitem-zone.vc_gitem-zone-a.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-1-1.vc_gitem-is-link {
    height: 500px !important;
    background-position: 0px -34px;
}