.first-background {
    background-color: #ededed !important;
}
.justify {
    text-align: justify;
}
code {
    color: #000 !important;
}
.first-cases-sub {
    margin-bottom: 5px;
}
.popmake.theme-721, .popmake.theme-lightbox {
    border: 8px solid #ae9a67 !important;
}

.popmake.theme-721 .popmake-title, .popmake.theme-lightbox .popmake-title {
    color: #000000;
    text-align: left;
    text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
    font-family: inherit;
    font-size: 26px !important;
    line-height: 36px !important;
    font-weight: bold !important;
    text-align: center !important;
    text-transform: capitalize;
}


.vc_gitem-zone img {
   height: 500px !important;
   background-position: 0px -34px;
}

.vc_gitem-zone.vc_gitem-zone-a.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-1-1.vc_gitem-is-link {
    height: 500px !important;
    background-position: 0px -34px;
}


.small-font {
    font-size: 12px;
}
h4 {
    text-align: justify !important;
}
#post-450 .attachment-1170x455.size-1170x455.wp-post-image {
    width: 100%;
    height: 500px;
}
#post-451 .attachment-1170x455.size-1170x455.wp-post-image {
    width: 100%;
    height: 500px;
}
#post-453 .attachment-1170x455.size-1170x455.wp-post-image {
    width: 100%;
    height: 500px;
}
#post-452 .attachment-1170x455.size-1170x455.wp-post-image {
    width: 100%;
    height: 500px;
}
.crowdfunding-video-title {
    margin-bottom: 12px;
}
.page-id-609 .block {
    padding: 20px 0;
}
.block.crowdfunding-video-banner {
    background-color: #444 !important;
}
/* Removable CSS After Campaign */
.zoho {
    display: none !important;
}

/* .postid-450 .post-meta > li p {
    display: none;
}
.postid-451 .post-meta > li p {
    display: none;
}
.postid-452 .post-meta > li p {
    display: none;
}
.btn-don.donate-btn {
    display: none;
}
.support-donation {
    text-align: center;
background-color: #ae9a67;
width: 100%;
margin: 0px auto;
float: none;
display: inline-block;
}
.support-donation a {
    color: #ffffff !important;
}
.support-banner-new {
    background-color: #444 !important;
}
#AnythingPopup_BoxContainerBody1 {
    color: #000 !important;
    font-weight: bold !important;
}
.zoho {
    width: 100px;
    display: inline-block;
    float: right;
    position: absolute;
    top: 30px;
    background-color: #ae9a67;
    text-align: center;
    color: #fff;
    padding: 5px 0px;
    display: none !important;
}
.zoho a {
   color: #ffffff;
} */
/* Removable CSS After Campaign */

.vc_separator.wpb_content_element.vc_separator_align_center.vc_sep_width_100.vc_sep_pos_align_center.vc_separator_no_text.vc_sep_color_black.space-top {
    position: relative;
    top: 50px;
}
.vc_row.wpb_row.vc_inner.my_row-fluid.space-top1 {
    position: relative;
    top: 30px;
    background-color: #ddd;
}
@media only screen and (min-width : 300px) and (max-width : 800px) {
#scan-code {
    vertical-align: middle !important;
    font-size: 19px;
    position: relative;
    top: 0px
}
.vc_gitem-zone.vc_gitem-zone-a.vc-gitem-zone-height-mode-auto.vc-gitem-zone-height-mode-auto-1-1.vc_gitem-is-link {
    height: auto !important;
    background-position: 50% 50%;
}


}
#scan-code {
    vertical-align: middle !important;
    font-size: 19px;
    position: relative;
    top: 50px
}

.page-id-539 .block {
    padding: 10px !important;
}
.page-id-133 .social-contacts {
    display: none;
}
.tp-caption.slide4-desc.slide4-3.tp-resizeme.rs-parallaxlevel-2 {
    color: #ffffff !important;
    background-color: #ae9a67 !important;
    padding: 10px !important;
}
span.tp-caption.slide3-subtitle2.slide3-3.tp-resizeme.rs-parallaxlevel-2 {
    color: white !important;
    line-height: 29px !important;
}
.tp-caption.slide4-subtitle.slide4-2.tp-resizeme.rs-parallaxlevel-2 {
    font-size: 16px !important;
    line-height: 22px !important;
}
.war_soundy_audio_control.war_soundy_pp_corner {
    z-index: 999999999 !important;
    top: 16px !important;
}
.other-amount > input, .other-amount #textfield {
    border: 1px solid #ae9a67 !important;
    color: #000000 !important;
    font-weight: bold !important;
}
.recursive-periods > a {
    width: 100% !important;
   /* background: none repeat scroll 0 0 #ae9a67 !important; */
}
.amount-btns > a {
 /*   background: #ae9a67 !important; */
}
.payment-choices a {
    background: #505050 !important; 
}
.paypal-donation.active:active {
    background-color: #ae9a67 !important;
}
.credit-card.active:active {
    background-color: #ae9a67 !important;
}
.other-amount .donate-btn {
    background: none repeat scroll 0 0 #ae9a67 !important;
}
.credit-card-options input[type="submit"], .checkout2-options input[type="submit"], .braintree-options input[type="submit"] {
    background: #ae9a67 none repeat scroll 0% 0% !important;
}
.payment-choices a.active {
    background: #ae9a67 !important;
    color: #FFF;
}
.image-title a {
    display: none;
}
.page-id-112 .no-top-image {
    display: none;
}
.event-detail h2 {
    color: #ae9a67 !important;
    float: left;
    margin-bottom: 0px !important;
    font-family: roboto !important;
    font-size: 17px !important;
    letter-spacing: 0.3px;
    padding-right: 20px;
    position: relative;
    font-weight: bold !important;
}
.event-detail > ul li strong {
    color: #000000 !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding-right: 5px !important;
}
.event-detail > ul li {
    color: #555555 !important;
    font-family: roboto !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
}
.charity-event-detail > i {
    color: #ae9a67 !important;
    float: left;
    font-family: roboto;
    font-size: 16px !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
    width: 100%;
    font-style: normal;
}
.charity-event-detail > h3 {
    float: left;
    width: 100%;
    color: #000000 !important;
    font-family: roboto;
    font-size: 18px !important;
    margin-bottom: 20px !important;
    text-align: justify !important;
}
.charity-event-detail > span {
    float: left;
    width: 100%;
    color: #ae9a67 !important;
    font-family: roboto;
    font-size: 11px !important;
    margin-bottom: 10px !important;
    font-weight: bold !important;
}
.charity-event-detail > p {
    float: left;
    width: 100%;
    color: #000 !important;
    font-family: open sans;
    font-size: 16px !important;
    line-height: 24px;
    margin-bottom: 30px !important;
    text-align: justify !important;
}
section {
    text-align: justify;
}
.page-id-95 .wpb_text_column.wpb_content_element {
    margin-bottom: 15px !important;
}
.page-id-378 .vc_gitem-post-data {
    margin-bottom: 15px;
    text-align: justify;
}
.post h1 {
    line-height: 24px !important;
}
.project-detail p {
    color: #000 !important;
    font-family: Open sans;
    font-size: 14px !important;
    text-align: justify !important;
}
.story > p {
    color: #000 !important;
    float: left;
    font-family: noto sans;
    font-size: 14px !important;
    line-height: 24px;
    width: 100%;
    margin-bottom: 0;
}
.post-desc > p {
    color: #000 !important;
    font-size: 13px !important;
}
.desc > p {
    color: #333 !important;
    font-family: open sans;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    text-align: justify !important;
}
.post-desc {
    float: left;
    position: relative;
    width: 72%;
    text-align: justify;
}
.single-dict_project .post-desc > p {
    color: #000;
    font-family: open sans;
    font-size: 14px;
    line-height: 22px;
    margin: 20px 0;
}
.desc > h3 a {
    color: #656565;
    font-weight: bold !important;
}
.objective {
    text-align: justify !important;
color: #ffffff !important;
font-size: 18px !important;
}
.no-top-image {
   /* background: url('http://hospistuff.com/hrlfoundation/wp-content/uploads/2017/03/parallax2new-1.jpg') !important; */
    float: left !important;
    height: 240px !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: 100% 50% !important;
}
.vision-header h4 {
    font-size: 27px !important;
    color: #ae9a67 !important;
    font-weight: bold !important;
}
.contact-header h4 {
    font-size: 27px !important;
    color: #ae9a67 !important;
    font-weight: bold !important;
}
.witness-heading h4 {
    font-size: 27px !important;
    color: #ae9a67 !important;
    font-weight: bold !important;
}
.volunteer-heading h4 {
    font-size: 27px !important;
    color: #ae9a67 !important;
    font-weight: bold !important;
}
.page-id-65 .block {
    padding: 0px;
}
.our-project-box .col-md-6 {
    height: 150px;
    display: inline-block;
}
.witness-12 {
    display: inline-block;
}
.witness-126 {
    margin-bottom: 14px;
    display: inline-block;
}
.witness-6 {
    margin-bottom: 14px;
}
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 100%;
    border: 2px solid #ae9a67;
    padding: 8px;
}
.wpcf7-form-control.wpcf7-text {
    width: 100%;
    border: 2px solid #ae9a67;
    padding: 8px;
}
.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    border: 2px solid #ae9a67;
    padding: 8px;
}
.wpcf7-form-control.wpcf7-submit {
    border: 0px;
    background-color: #ae9a67;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
}
.page-id-330 .block {
    padding: 10px !important;
}
.page-id-199 .block {
    padding: 10px !important;
}
.page-id-195 .block {
    padding: 10px !important;
}
.page-id-112 .block {
    padding: 10px !important;
}
.page-id-378 .block {
    padding: 0px !important;
}
.support-banner {
    background-color: #444 !important;
    display: none;
}
/* .tp-splitted.tp-linesplit {
    color: #323232 !important;
} */
h3.tp-caption.slide3.slide3-1.tp-resizeme.rs-parallaxlevel-2.splitted {
    font-family: roboto;
    font-size: 40px !important;
}