body, h1, h2, h3, h4, h5, h6, ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS';
}
a{
    text-decoration:none;
}
.container {
    left: 230px;
    position: absolute;
    width: 940px;
}
.top-box {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    width: 100%;
}
.title {
    float: left;
    margin-top: 10px;
    width: 100%;
}
.title h1 {
    border-bottom: 4px double;
    color: #3399FF;
    font-family: 'Trebuchet MS';
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
    max-width: 630px;
    text-align: center;
}
.section h3 {
    color: #53B8C2;
    float: left;
    font-family: Georgia;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    width: 100%;
}
strong {
    background: none repeat scroll 0 0 #28AB7C;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    line-height: 10px;
    margin: 5px 1px 5px 0;
    padding: 5px;
}


.meta {
    background: none repeat scroll 0 0 #FAFAFC;
    border: 1px solid #EEEEEE;
    float: right;
    font-family: Verdana;
    font-size: 12px;
    margin: 20px 75px 20px 0;
    padding: 15px 10px;
    text-align: center;
    width: 220px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.meta a {
    color: #3399FF;
    text-decoration: none;
}

.left-side-menu img {
    padding-bottom: 30px;
    width: 200px;
}
.left-side-menu {
    background: none repeat scroll 0 0 #177C86;
    float: left;
    height: 100%;
    position: fixed;
    width: 200px;

    -webkit-box-shadow: 0 0 3px #000000;
    -moz-box-shadow: 0 0 3px #000000;
    -ms-box-shadow: 0 0 3px #000000;
    -o-box-shadow: 0 0 3px #000000;
    box-shadow: 0 0 3px #000000;
}
.left-side-menu li {
    border-bottom: 1px solid #4A7983;
    border-top: 1px solid #292929;
    float: left;
    text-align: right;
    width: 100%;

    -webkit-transition:all 0.5s ease 0s;
    -moz-transition:all 0.5s ease 0s;
    -ms-transition:all 0.5s ease 0s;
    -o-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
}
.left-side-menu li:hover {
    background: none repeat scroll 0 0 #3297A1;
}
.left-side-menu a {
    color: #E6E6E6;
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    padding: 20px 15px 20px 0;
    text-transform: uppercase;
}
.title h2 {
    color: #177C86;
    float: left;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.section p {
    color: #7D7D7D;
    float: left;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 20px;
    width: 100%;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
.section ul {
    float: left;
    font-size: 13px;
    line-height: 20px;
    list-style: circle outside none;
    padding-left: 36px;
    margin:10px 0;
}
.section > img {
    padding-left: 40px;
    padding-top: 30px;
    width: 530px;
}
.section li {
    color: #4C4C4C;
    float: left;
    line-height: 25px;
    width: 100%;
}
code {
    background: none repeat scroll 0 0 #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #D44950;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

}

.long-code {
    color: #4F9FCF;
    margin: 20px 5%;
    width: 90%;;
}
.data {
    float: left;
    margin-top: 20px;
    width: 65%;
}
.data-img {
    float: left;
    width: 35%;
}

.section ul ul {
    margin: 10px 0;
}





#accordion {
    border: 1px solid #BEBEBE;
    float: left;
    margin: 10px auto;
    width: 100%;
}

#accordion h2 {
    background:none repeat scroll 0 0 #177C86;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #A5A5A5;
    color: #E6E6E6;
    cursor: pointer;
    float: left;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 25px;
    margin: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -ms-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;

}
#accordion > h2:hover {
    background: none repeat scroll 0 0 #3297A1;
}
#accordion .content {
    background-color:#FFFFFF;
    padding:10px 15px;
    color:black;
    float:left;
    width:100%;
    border-bottom:1px solid #BEBEBE;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}

#accordion h2.active {
    background: none repeat scroll 0 0 #EAEAEA;
    color: #3196A0;
}

.section p img {
    border: 1px #dbdbdb solid;
    padding: 4px 1px;
    border-radius: 5px 5px 5px 5px;
}

.image-style img {
    border: 1px #DBDBDB solid;
    padding: 4px 1px;
    border-radius: 5px 5px 5px 5px;
}
