h3.ui-accordion-header{
    padding: 10px;
    margin-bottom: 0;
    margin-top: 1px;
    position:relative;
}

#wpbody-content .wrapper, #wpbody-content .ui-accordion.ui-widget.ui-helper-reset{
    margin: 20px 10px 0 0;
}

#accordion .ui-accordion-content{
    padding: 10px;
}

#accordion .media-modal-close{
    top: 5px;
}

.wrapper .media-toolbar-primary{
    margin: 10px 10px 0 0;
}.group {    float: left;    margin-bottom: 2px;    width: 100%;}h3.ui-accordion-header {    background: none repeat scroll 0 0 #FCF4CE;    border: 1px solid #C5DC02;    color: #434242;    cursor: pointer;    font-family: open sans;    font-size: 15px;    font-weight: 500;    line-height: 10px;    margin-bottom: 0;    margin-top: 1px;    padding: 20px 10px;    position: relative;    text-shadow: 0 1px 1px #FFFFFF;}h3.ui-accordion-header span {    float: left;}#accordion .ui-accordion-content {    background: none repeat scroll 0 0 #F9F5E3;    padding: 25px;}.fields_set {    float: left;    margin-bottom: 20px;    width: 100%;}.fields_set label {    float: left;    width: 15%;}.fields_set label strong {    color: #686868;    font-family: arial;    font-size: 13px;}.fields_set .field {    float: right;    width:80%!important;}.field input {    background: none repeat scroll 0 0 #FBF9F0;    border: 1px solid #CDCDCD;    color: #7A7A7A;    font-size: 12px !important;    padding: 5px 15px;}.field .description {    color: #989696;    font-family: arial;    font-size: 12px;    font-style: normal !important;    line-height: 30px;}
